* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

#things-to-do 
{
    position: relative;
    width: 100vw;
    height: 70vh;
}

#things-to-do img 
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#things-to-do h1 
{
    position: absolute;
    top: 35vh;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 9em;
    z-index: 1;

}

#map-navigation
{
    background-color: rgb(5, 48, 5);
    height: 5vh;
    text-align: center;
}

#map 
{
    padding: 50px;
    height: 50vh;
    width: 100%;
}


#map-navigation button
{
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  margin-top: 15px;
  padding: 0.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}